<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <style>
        .error-class {
            position:absolute;
            top:50%;
            height:2em;
            margin-top:-1em;
            left:5%;
            right:5%;
            margin:auto;
            text-align: center;
            font-family: "Benton Sans", Arial, Helvetica, sans-serif;
            font-size:12px;
        }
    </style>
</head>
<body>

<iframe
    id="extension-content-frame"
    style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
    <%= sandbox %>
    >
</iframe>

</body>
<script>
 <%- bootstrapScript %>
</script>
</html>
